<div id="<%= dom_id(book) %>" class="container my-4">
  <div class="row">
    <%# 書籍のイメージと詳細情報を含むカードを表示 %>
    <div class="col-md-6">
      <div class="card">
        <% if book.book_image.present? %>
          <%= image_tag(book.book_image_url, class: "card-img-top img-fluid") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= book.book_title %></h5>
        </div>
      </div>
    </div>

    <%# 書籍のメタ情報を含むカードを表示 %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          詳細情報
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>評価:</strong> <%= book.rate %></li>
          <li class="list-group-item"><strong>感想:</strong> <%= book.comment %></li>
          <li class="list-group-item"><strong>作者:</strong> <%= book.author %></li>
          <li class="list-group-item"><strong>出版日:</strong> <%= book.publication_date %></li>
          <li class="list-group-item"><strong>ジャンル:</strong> <%= book.genre %></li>
          <li class="list-group-item"><strong>メモ:</strong> <%= book.short_comment %></li>
          <li class="list-group-item"><strong>好きなページ/好きな文章:</strong> <%= book.favorite_sentence %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
