<div id="<%= dom_id book %>">
  <p>
    <strong>Book title:</strong>
    <%= book.book_title %>
  </p>

  <p>
    <strong>Book image:</strong>
    <%= book.book_image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= book.rate %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= book.comment %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Short comment:</strong>
    <%= book.short_comment %>
  </p>

  <p>
    <strong>Favorite sentence:</strong>
    <%= book.favorite_sentence %>
  </p>

</div>
