<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    
    <% if current_user.present? %>
      <%= current_user.email %>
    <% end %>

    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo: false } %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
